body {
    margin-left: auto;
    margin-right: auto;
    height: 805px;
    width: 375px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5px;
}